# Python
__pycache__/
*.pyc
*.pyo
.Python
venv/
env/
backend/venv/
backend/*/migrations/

# Django
backend/staticfiles/
backend/media/

# Node
frontend/node_modules/

# Env
.env
.env.*

# IDE
.vscode/